.App {
  text-align: center;
}

.App-logo {
  
  pointer-events: none;
  background-color: black;
}

.container {
  background-color: rgb(177, 202, 183);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  height: 20vh;
  margin: 2% 5%;
}

.marquee {
  height: auto;
  margin: 2% 5%;
}

.slide_one {
  background-image: url(./background-images/slide_one.jpg);
  
}
.slide_two {
  background-image: url(./background-images/slide_two.jpg);
}
.slide_three {
  background-image: url(./background-images/slide_three.jpg);
}




