.App {
  text-align: center;
}

.App-logo {
  
  pointer-events: none;

}

.container {
  background-color: rgb(177, 202, 183);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 3em;
}

.layout {
  height: 20vh;
  margin: 2% 5%;
}

.navlinks {
  display: flex;
  flex-direction: column;
  margin-top: .8em;
}

.navlinks__link {
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
}

.navlinks__link--active {
  color: #ffc004;
}

.navlinks__link--unactive {
  color: #fff;
}

.navlinks__link--contact {
  float: right;
  padding: 0.5em 1.75em;
  border: solid 1px;
}

.marquee {
  height: auto;
  margin: 2% 5%;
}

.slide_one {
  background-image: url(./background-images/slide_one.jpg);
  background-size: cover;
}
.slide_two {
  background-image: url(./background-images/slide_two.jpg);
  background-size: cover;
}
.slide_three {
  background-image: url(./background-images/slide_three.jpg);
  background-size: cover;
}




